# Default LLM Provider
DEFAULT_LLM_PROVIDER=mock

# Model Configuration
MODEL_PROVIDER=mock
MODEL_NAME=mock-llm
OPENAI_API_KEY=undefined
GOOGLE_API_KEY=undefined

# LLM Nodes Configuration (if using new structure)


# Runtime Configuration
PORT=8000


# Storage Configuration
MEMORY_STORAGE=faiss-local
CACHE_STORAGE=in-memory
SQL_STORAGE=sqlite

# Add your custom environment variables below
